<ng-container *ngIf="getPortfolio() | async as p; else loading">
  <ng-container *ngIf="p.length > 0; else emptyPortfolio">
    <ng-container *ngIf="stockService.stockInfo$ | async as i">
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <h4>Select a Stock</h4>-->
<!--          <form [formGroup]="selectStockFormGroup">-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Stocks</mat-label>-->
<!--              <mat-select formControlName="tickerCtrl" (change)="tickerChanged()">-->
<!--                <ng-container *ngFor="let s of p">-->
<!--                  <mat-option [value]="s.ticker">{{s.ticker}}</mat-option>-->
<!--                </ng-container>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </form>-->
<!--          <br>-->
<!--        </div>-->
<!--      </div>-->
      <div class="row">
        <div class="col">
          <div class="card card-chart">
            <ng-container *ngIf="portfolioService.getCurrentStockInfo() as s">
              <div class="card-header">
                <h3 class="card-title">{{s.companyName}}</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Ticker:</h5>
                    <p>{{s.ticker}}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>Market Cap:</h5>
                    <p>{{s.marketCap | currency: 'USD'}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-chart">
            <div class="card-header">
              <h3 class="card-title">Historical Prices</h3>
<!--              <p class="card-category">Historical prices</p>-->
            </div>
            <div class="card-body">
              <app-chart></app-chart>
<!--              <button (click)="makeChart()">makeChart()</button>-->
<!--              <canvas id="chart" width="400" height="100"></canvas>-->
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i>{{now | date: "\'Updated on\' MMMM d, y \'at\' h:mm a"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="stockService.relatedStocks$ | async as tickers">
        <div class="row">
          <div class="col">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title">Related Stocks</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <ng-container *ngFor="let ticker of tickers">
                    <div class="col-md-2">
                      <button class="btn btn-outline-primary" (click)="goToStock(ticker)">
                        {{ticker}}
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <ng-container *ngIf="this.articleService.bigArticle$ | async as articles; else loadingBigArticles">
          <ng-container *ngIf="articles.length > 0; else noBigArticles">
            <div class="col-md-12" align="center">
              <h4>Big News</h4>
            </div>
            <ng-container *ngFor="let a of articles">
              <div class="col-lg-6">
                <div class="card card-stats">
                  <div class="card-header">
                    <a href="{{a.link}}">
                      <h5 class="card-title">{{a.title}}</h5>
                    </a>
                    <p class="card-category">
                      {{a.articleDate | date: "fullDate"}}
                      <br>
                      {{a.percentdiff}}% Change
                      <br>
                      Positivity: {{a.positivity}}
                    </p>
                  </div>
                  <div class="card-body">
                    <p>{{(a.contents.length > MAX_LENGTH) ? (a.contents | slice: 0:MAX_LENGTH)+'...' : (a.contents)}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #noBigArticles>
            <div class="col" align="center">
              <br>
              <h5>No Big News</h5>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #loadingBigArticles>
          <div class="col" align="center">
            <br>
            <h5>Loading Big News...</h5>
          </div>
        </ng-template>
      </div>
      <div class="row">
        <ng-container *ngIf="this.articleService.article$ | async as articles; else loadingArticles">
          <ng-container *ngIf="articles.length > 0; else noArticles">
            <div class="col-md-12" align="center">
              <h4>All News</h4>
            </div>
            <ng-container *ngFor="let a of articles">
              <div class="col-lg-6">
                <div class="card card-stats">
                  <div class="card-header">
                    <a href="{{a.link}}">
                      <h5 class="card-title">{{a.title}}</h5>
                    </a>
                    <p class="card-category">
                      {{a.date | date: "fullDate"}}
                      <br>
                      Positivity: {{a.positivity}}
                    </p>
                  </div>
                  <div class="card-body">
                    <p>{{(a.contents.length > MAX_LENGTH) ? (a.contents | slice: 0:MAX_LENGTH)+'...' : (a.contents)}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #noArticles>
            <div class="col" align="center">
              <br>
              <h5>No News</h5>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #loadingArticles>
          <div class="col" align="center">
            <br>
            <h5>Loading News...</h5>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #emptyPortfolio>
    <div class="row">
      <div class="col">
        <div class="card card-stats">
          <div class="card-body">
            <h2>No Stocks in Portfolio</h2>
            <p>There are no stocks added to your portfolio. Please add stocks to your portfolio</p>
            <br>
            <button class="btn btn-outline-primary" routerLink="/dashboard">My Portfolio</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #loading>
  <div class="col" align="center">
    <br>
    <h5>Loading...</h5>
  </div>
</ng-template>
