<div class="row">
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Add Stock</h5>
        <p class="card-category">Add new stocks to your portfolio</p>
      </div>
      <div class="card-body">
        <form [formGroup]="addStockFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Add Stock</mat-label>
            <textarea matInput formControlName="tickerCtrl"></textarea>
          </mat-form-field>
          <button class="btn btn-outline-primary" style="margin-left: 1em" (click)="addStock()">Add</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Remove Stock</h5>
        <p class="card-category">Remove stocks from your portfolio</p>
      </div>
      <div class="card-body">
        <form [formGroup]="deleteStockFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Stocks</mat-label>
            <mat-select formControlName="tickerCtrl">
              <ng-container *ngFor="let s of getPortfolio() | async">
                <mat-option [value]="s.ticker">{{s.ticker}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <button class="btn btn-outline-primary" style="margin-left: 1em" (click)="removeStock()">Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-chart">
      <div class="card-header">
        <ng-container *ngIf="authService.id$ | async as id">
          <h3 class="card-title">{{id}}'s Portfolio</h3>
          <ng-container *ngIf="getPortfolio() | async as p">
            <ng-container *ngIf="p.length > 0">
              <p class="card-category">Current Date: {{p[0].date | date: 'longDate'}}</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form [formGroup]="updateDateFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="date" [matDatepickerFilter]="dateFilter"
                       [min]="minDate" [max]="maxDate" (dateChange)="updateDate()"
                       [matDatepicker]="picker" placeholder="Pick a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
          </div>
        </div>
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <form [formGroup]="updateDateFormGroup">-->
<!--              <mat-form-field appearance="fill">-->
<!--                <mat-label>Change Date: YYYY-MM-DD</mat-label>-->
<!--                <textarea matInput formControlName="date"></textarea>-->
<!--              </mat-form-field>-->
<!--              <button class="btn btn-outline-primary" style="margin-left: 1em" (click)="updateDate()">Change Date</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table" style="">
                <thead class="text-primary">
                <th *ngFor="let header of portfolioHeader">{{header}}</th>
                <th></th>
                </thead>
                <tbody>
                <ng-container *ngIf="getPortfolio() | async as p; else loadingStocks">
                  <ng-container *ngIf="p.length > 0; else noStocks">
                    <ng-container *ngFor="let s of p">
                      <tr>
                        <td>{{s.companyName}}</td>
                        <td>{{s.ticker}}</td>
                        <td>{{s.high | currency: 'USD'}}</td>
                        <td>{{s.low | currency: 'USD'}}</td>
                        <td>{{s.open | currency: 'USD'}}</td>
                        <td>{{s.close | currency: 'USD'}}</td>
                        <td>
                          <button class="btn btn-sm btn-outline-primary" (click)="goToStocks(s.ticker)">More</button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                  <ng-template #noStocks>
                    <tr>
                      <td [colSpan]="portfolioHeader.length + 1">
                        <em>No stocks found in portfolio!</em>
                      </td>
                    </tr>
                  </ng-template>
                </ng-container>
                <ng-template #loadingStocks>
                  <tr>
                    <td [colSpan]="portfolioHeader.length + 1">
                      <em>Loading...</em>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-chart">
      <div class="card-header">
        <h3 class="card-title">Change Name</h3>
        <p class="card-category">Update your username</p>
      </div>
      <div class="card-body">
        <form [formGroup]="updateNameFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>New Name</mat-label>
            <textarea matInput formControlName="newName"></textarea>
          </mat-form-field>
          <button class="btn btn-outline-primary" style="margin-left: 1em" (click)="rename()">Rename</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <div class="card card-chart">-->
<!--      <div class="card-header">-->
<!--        <h5 class="card-title">NASDAQ: AAPL</h5>-->
<!--        <p class="card-category">Line Chart with Points</p>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <canvas id="speedChart" width="400" height="100"></canvas>-->
<!--      </div>-->
<!--      <div class="card-footer">-->
<!--        <div class="chart-legend">-->
<!--          <i class="fa fa-circle text-info"></i> Tesla Model S-->
<!--          <i class="fa fa-circle text-warning"></i> BMW 5 Series-->
<!--        </div>-->
<!--        <hr/>-->
<!--        <div class="card-stats">-->
<!--          <i class="fa fa-check"></i> Data information certified-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <button>Change Data</button>-->
<!--  </div>-->
<!--</div>-->
